/* Färgkoder samt typsnitt */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


$header-color: rgb(13, 25, 31);
$header-color-hover: rgb(5, 9, 11);
$background-color: #dfdfdf;
$standard-white: #ffff;
$main-color: rgba(255, 255, 255, 0.7);
$menu-color: #f3f3f3;
$font-color: rgb(22, 22, 22);
$standard-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
$form-color: rgb(18, 40, 51);

$standard-font: "Mukta", sans-serif;
$title-font: "Bangers", system-ui;

/* Mixin för gemensam styling av logga in, skapa konto samt lägg till ny maträtt-formulär */
@mixin form-base {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: $standard-shadow;
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    label {
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 5px;
    }
  
    input[type="text"],
    input[type="password"],
    input#dish-price,
    select#dish-category,
    textarea#dish-description {
      padding: 10px;
      font-size: 1em;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      box-sizing: border-box;
      transition: border-color 0.3s ease;
  
      &:focus {
        outline: black;
      }
    }

    textarea#dish-description {
        height: 80px;
    }
  
    button {
      padding: 12px;
      font-size: 1em;
      font-weight: bold;
      color: white;
      background-color: rgb(255, 181, 117);
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: rgb(255, 168, 92);
      }
    }
  }

/* Mixin för knappstil för uppdatera/tabort-knappar */
@mixin button-base {
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Färg för uppdatera/tabort-knappar */

$del-btn-color: #d98983;
$del-btn-hover-color: #e53935;
$upd-btn-color: #7cbd7e;
$upd-btn-hover-color: #45a049;