/* Färgkoder samt typsnitt */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


$header-color: rgb(13, 25, 31);
$header-color-hover: rgb(5, 9, 11);
$background-color: #dfdfdf;
$standard-white: #ffff;

$standard-font: "Mukta", sans-serif;