/* COMPONENT SCSS */

@use "base";

/* Meny styling för mobil*/
nav {
    background-color: base.$header-color;
    font-family: base.$standard-font;
    font-weight: 200;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 200px;
    display: none;
    z-index: 1000;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    padding: 0.8em 0;
    width: 100%;
}

nav li:first-child {
    padding-top: 80px;
}

nav a {
    color: base.$standard-white;
    text-decoration: none;
    padding: 0 1em;
}

nav li:hover {
    cursor: pointer;
    color: base.$standard-white;
    text-decoration: underline;
}

/* Meny knapp, öppna meny */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: base.$header-color;
    border: base.$standard-white solid 1px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 5px;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: base.$header-color-hover;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

/* de tre svarta strecken (hamburg-icon) */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: base.$standard-white;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: base.$standard-white;
}

/* Meny knapp, stäng */
.close {
    margin: 0 1em;
    padding: 12px 10px;
}

/* Roterar två lodräda streck, till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}


/* BAKGRUNDSBILD */

/* Fixerad position för bakgrundsbilden över hela fönstret */
.background-picture {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; /* Bakgrundsbilden placeras bakom innehållet */
    overflow: hidden; /* Döljer överflöd av bild utanför fönstret */
}

/* Anpassning av bakgrundsbildens storlek och stil */
#background-img {
    display: block; /* Ser till att elementet beter sig som en blocknivå */
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Täcker hela fönstret utan att ändra bildförhållandet */
    filter: brightness(40%); /* Minskar ljusstyrkan för bättre textläsbarhet ovanpå */
}

/* BILDER PÅ STARTSIDAN */

.indexPicture {
    display: block;
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
}

/* FOOTER */

footer {
    background-color: base.$header-color;
    color: base.$standard-white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 25px;

    .footer-column {
        flex: 1;
        margin: 0 15px;

        h4 {
            margin-bottom: 10px;
            font-size: 1.2em;
        }

        p {
            margin: 4px 0;

        }

        li {
            margin: 15px 0;
            list-style: none;
        }

        a {
            text-decoration: none;
            color: base.$standard-white;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* KNAPPAR PÅ STARTSIDAN */

#navigateToMenu,
#navigateToBooking {
    display: block; 
    width: 300px;
    margin: 10px auto;
    padding: 15px 20px;
    font-size: 1.2em;
    color: base.$standard-white;
    background-color: base.$header-color;
    opacity: 90%;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; /* mjuk övergångseffekt */
}

#navigateToMenu:hover,
#navigateToBooking:hover {
    background-color: base.$header-color-hover;
    transform: translateY(-2px); /* Låter knappen lyftas lite när musen är över den */
}


