/* COMPONENT SCSS */

@use "base";
@import 'form-styles'; // Importerar styling för formulär

/* Hamburgermeny-styling för mobil */
nav {
    background-color: base.$header-color;
    font-family: base.$standard-font;
    font-weight: 200;
    box-shadow: base.$standard-shadow;
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 200px;
    display: none;
    z-index: 1000;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    padding: 0.8em 0;
    width: 100%;
}

nav li:first-child {
    padding-top: 80px;
}

nav a {
    color: base.$standard-white;
    text-decoration: none;
    padding: 0 1em;
}

nav li:hover {
    cursor: pointer;
    color: base.$standard-white;
    text-decoration: underline;
}

nav a.active {
    text-decoration: underline; /* Understrykning för aktiv sida */
}


/* Meny knapp, öppna meny */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: base.$header-color;
    border: base.$standard-white solid 1px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 5px;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: base.$header-color-hover;
    box-shadow: base.$standard-shadow;
}

.menu-icon {
    margin-right: 10px;
}

/* de tre svarta strecken (hamburg-icon) */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: base.$standard-white;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: base.$standard-white;
}

/* Meny knapp, stäng */
.close {
    margin: 0 1em;
    padding: 12px 10px;
}

/* Roterar två lodräda streck, till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

/* KNAPPAR PÅ STARTSIDAN */

#navigateToMenu,
#navigateToBooking {
    display: block; 
    width: 300px;
    margin: 10px auto;
    padding: 15px 20px;
    font-size: 1.2em;
    color: base.$standard-white;
    background-color: base.$header-color;
    opacity: 90%;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; /* mjuk övergångseffekt */
}

#navigateToMenu:hover,
#navigateToBooking:hover {
    background-color: base.$header-color-hover;
    transform: scale(1.1); /* Förstorar knapparna med 10% när man hovrar */
}

/* BEKRÄFTELSEMEDDELANDEN */

.success-message {
    color: green;
    font-weight: bold;
    text-align: center;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
}

/* Felmeddelande vid logga in och skapa konto */
#loginErrorMessage,
#error-message {
    text-align: center;
}

/* MEDDELANDE SOM VISAS I VÄNSTRA HÖRNET I INLOGGAT LÄGE (admin) */
#welcome-message {
    background-color: rgb(255, 181, 117);
    padding: 5px;
    border: 1px solid base.$border-color;
    border-radius: 5px;
}

/* FORMULÄR FÖR BOKA BORD */
/* extend från form-style */
#booking-form {
    @extend .form-style;
}

#booking-form label {
    @extend .form-label;
}

#booking-form input,
#booking-form textarea {
    @extend .form-input;
}

#booking-form button {
    @extend .form-button;
}

/* FORMULÄR FÖR ATT SKRIVA RECENSION */
/* extend från form-style */

#review-form {
    @extend .form-style;
}

#review-form label {
    @extend .form-label;
}

#review-form input[type="text"],
#review-form input[type="email"],
#review-form input[type="number"],
#review-form textarea {
    @extend .form-input;
}

#review-form textarea {
    height: 80px; // Specifik justering för textarea
}

#review-form input[type="number"] {
    width: 120px; // Specifik justering för betygsfältet
    height: 35px;
}

#review-form button {
    @extend .form-button;
    display: block;
}

/* FORMULÄR FÖR ATT SKICKA KONTAKTMEDDELANDE */
/* extend från form-style */

#contact-form {
    @extend .form-style;
}

#contact-form label {
    @extend .form-label;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    @extend .form-input;
}

#contact-form textarea {
    height: 80px; // Specifik justering för textarea
}

#contact-form button {
    @extend .form-button;
    display: block;
}


/* STYLING FÖR BOKNINGSREGLER OCH BOCKA I-RUTA */
.booking-rules {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9em;
    color: base.$standard-white;
}

/* Döljer standard-checkboxen */
.checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Styling för custom-checkbox */
.checkbox-container .checkmark {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid base.$form-btn-color; 
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}

/* Visar markeringen när checkboxen är ikryssad */
.checkbox-container input[type="checkbox"]:checked + .checkmark {
    background-color: base.$form-btn-color;
}

.checkbox-container input[type="checkbox"]:checked + .checkmark:after {
    content: "";
    position: absolute;
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: 2px;
    left: 6px;
}

/* STYLING FÖR RECENSIONER */
.review-block {
    background-color: base.$standard-white;
    border-radius: 8px;
    max-width: 700px;
    box-shadow: base.$standard-shadow;
    padding: 15px;
    margin: 15px auto;

    h4 {
        margin: 0; 
        font-size: 1.2em;
    }

    p {
        margin: 8px 0;
    }
}

/* STYLING FÖR BOKNINGAR (använder samma styling som recensioner) */
.booking-block {
    @extend .review-block;
}

/* STYLING FÖR KONTAKTMEDDELANDEN (använder samma styling som recensioner och bokningar */
.message-item {
    @extend .review-block;
}

textarea.response-textarea {
    @extend .form-input;
}

/* Styling för skicka svar-knappen */
.send-response-btn {
    @extend .form-button;
}

/* Login-formulär */
#login-form {
    @include base.form-base;
  }
  
/* Skapa konto-formulär */
#register-form {
    @include base.form-base;
}

/* Lägg till ny maträtt-formulär */
#add-dish-form {
    @include base.form-base;
}

/* GEMENSAM STYLING FÖR UPPDATERA OCH TA BORT-KNAPP I MENYN */
.admin-actions {
    margin-bottom: 15px;
    display: block;
    gap: 10px;
}

/* Enskild styling för uppdatera och ta bort-knapp */
.update-btn,
.delete-btn {
    @include base.button-base;
}

.update-btn {
    background-color: base.$upd-btn-color;
    color: base.$standard-white;

    &:hover {
        background-color: base.$upd-btn-hover-color;
    }
}

.delete-btn {
    background-color: base.$del-btn-color;
    color: base.$standard-white;

    &:hover {
        background-color: base.$del-btn-hover-color;
    }
}

/* Lista med restaurangernas olika adresser och kontaktinfo */

.restaurant-section {
    text-align: center;

    h4 {
        text-align: center; 
        margin-bottom: 5px;
        font-size: 1.2em;
    }

    .restaurant-list {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;
        text-align: center;

        li {
            font-size: 1.1em;
            margin-bottom: 5px;

            strong {
                color: #000;
            }

            a {
                color: #000;
                text-decoration: none;
                display: block;
                transition: transform 0.3s ease, color 0.3s ease;

                /* Förstorar och ändrar färg vid hover */
                &:hover {
                    transform: scale(1.1);
                    color: rgb(14, 46, 62);
                }
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid base.$border-color;
            padding-bottom: 10px;
        }
    }
}









