/* Styling för boka bord, skriva recension och kontakt-formulären på webbplatsen */

@use "base";

.form-style {
    background-color: base.$form-color;
    padding: 30px;
    border-radius: 10px; 
    box-shadow: base.$standard-shadow;
    max-width: 600px; 
    margin: 20px auto;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    color: base.$standard-white;
}

.form-input {
    width: 98%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid base.$border-color;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: inset base.$standard-shadow;
}

.form-input:focus {
    outline: none;
    border: 1px solid base.$form-btn-color;
    box-shadow: 0 0 5px base.$standard-shadow;
}

.form-button {
    background-color: base.$form-btn-color;
    color: base.$standard-white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.1em;
}

.form-button:hover {
    background-color: base.$form-btn-hover-color;
}


/* Styling för uppdateringsformuläret i admin-läge vid menyn */
/* Gör formuläret litet för att det inte ska ta upp för mycket plats i menyn */

.update-form {
    background-color: base.$standard-white;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid base.$border-color;
    max-width: 300px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Individuella input-fält */
.update-form input[type="text"],
.update-form input[type="number"],
.update-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px; 
    border-radius: 4px;
    border: 1px solid base.$border-color; 
    box-shadow: none;
}

/* Fokus-styling */
.update-form input:focus,
.update-form select:focus {
    outline: none;
    border-color: base.$border-color;
    box-shadow: none;
}

/* Spara och avbryt-knappar */
.update-form button {
    padding: 8px;
    font-size: 0.9em; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: none;
    color: base.$standard-white;
}

/* färg för spara och avbryt knappar */
.update-form button[type="button"]:first-of-type {
    background-color: base.$upd-btn-color;
}

.update-form button[type="button"]:first-of-type:hover {
    background-color: base.$upd-btn-hover-color;
}

.update-form button[type="button"]:last-of-type {
    background-color: base.$del-btn-color;
}

.update-form button[type="button"]:last-of-type:hover {
    background-color: base.$del-btn-hover-color;
}


