/* LAYOUT SCSS */

@use "base";
@use "component";

/* Generell styling för body och header */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: base.$background-color;
    font-family: base.$standard-font;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    color: base.$font-color;
}

header {
    height: 100px;
    background-color: base.$header-color;
    position: relative;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    width: 110px;
    height: auto; 
    margin-left: 15;
    margin-top: 15px;
}

main {
    background-color: base.$main-color;
    width: 75%;
    border-radius: 10px;
    margin: 25 auto;
    padding: 30px;
}

#menu-container {
    background-color: base.$menu-color;
    box-shadow: base.$standard-shadow;
    padding: 40px;
}

.menu-list {
    list-style-type: none;
    padding: 20px;
    line-height: 2em;
}


h1 {
    font-size: 5em;
    font-family: base.$title-font;
    color: base.$standard-white;
    text-align: center;
    opacity: 80%;
    padding-top: 200px;
}

h2 {
    text-align: center;
    font-size: 2em;
}

h3 {
    text-align: center;
    font-size: 1.4em;
}


p {
    font-size: 1.1em;
    line-height: 2em;
    max-width: 80ch;
    margin: 0 auto;
}

.logo {
    width: 50%;
}

/* Media queries för större skärmar */
@media only screen and (min-width: 990px) {
    header {
        padding: 0 1.3em;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        box-shadow: 0 0px 0px;
        height: 80px;
        font-size: 1.3em;
        width: auto;
    }

    nav ul {
        height: 100%;
        padding: 30px;
    }

    nav li {
        display: inline;
        padding: 1.2em 20;
        
    }


    
}