/* LAYOUT SCSS */

@use "base";
@use "component";
@use "keyframes";

/* Generell styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: base.$background-color;
    font-family: base.$standard-font;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    color: base.$font-color;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    height: 100px;
    max-width: 100vw;
    background-color: base.$header-color;
    position: relative;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main {
    background-color: base.$main-color;
    width: 75%;
    border-radius: 10px;
    margin: 25 auto;
    padding: 30px;
}

#menu-container {
    background-color: base.$menu-color;
    box-shadow: base.$standard-shadow;
    padding: 40px;
}

.menu-list {
    list-style-type: none;
    padding: 20px;
    line-height: 2em;
    text-align: center;
}

#loading-message, #loading-indicator {
    font-size: 1.1em;
    text-align: center;
}

#loading-message i, #loading-indicator i {
    font-size: 0.9em;
    animation-name: loading;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


h1 {
    font-size: 5em;
    font-family: base.$title-font;
    color: base.$standard-white;
    text-align: center;
    opacity: 80%;
    padding-top: 200px;
}

h2 {
    text-align: center;
    font-size: 2em;
}

h3 {
    text-align: center;
    font-size: 1.4em;
}


p {
    font-size: 1.1em;
    line-height: 2em;
}

section p {
    margin: 0 auto;
    max-width: 80ch;
    text-align: center;
}

.logo {
    width: 50%;
}

/* FOOTER */

footer {
    background-color: base.$header-color;
    color: base.$standard-white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin-top: 25px;

    .footer-column {
        flex: 1;
        margin: 0 20px;
        max-width: 150px;

        h4 {
            margin-bottom: 10px;
            font-size: 1.2em;
        }

        p {
            margin: 4px 0;

        }

        li {
            margin: 15px 0;
            list-style: none;
        }

        a {
            text-decoration: none;
            color: base.$standard-white;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .footer-logo {
        flex: 0;
        text-align: center;
        margin: 0 40px;

        img {
            width: 150px;
            height: auto;
            transition: transform 0.3s ease-in-out;
        }

        img:hover {
            transform: scale(1.1); /* Förstorar logotypen med 10% när man hovrar */
        }
    }

}
