/* MEDIA QUERIES */

/* Media queries för Tablet */

@media (max-width: 990px) and (min-width: 600px) {

    /* STARTSIDAN */
    /* Bilderna på startsidan */
    .indexPicture {
        width: 75%; 
        max-width: 700px; 
    }

    /* Rubriker */
    h1 {
        font-size: 4.5em;
    }
    
    h2 {
        font-size: 1.8em;
    }
    
    h3 {
        text-align: center;
        font-size: 1.3em;
    }

    p {
        font-size: 1em;
    }

    /* Knapparna på startsidan */
    #navigateToMenu,
    #navigateToBooking {
        width: 280px;
        padding: 12px 15px;
   }

    /* MENY-SIDAN */
    /* Bilderna vid varje kategori i menyn */
    .category-image {
        width: 250px;
        margin: 10px auto;
    }

    /* Utskrift av menyn */
    #menu-container, .menu-list {
        padding: 30px;
    }

    /* Login, register och add dish formulär */
    #login-form,
    #register-form,
    #add-dish-form {
       max-width: 380px;
       padding: 20px;

       button {
        font-size: 0.9em;
       }
    }

    /* Formulär för uppdatera maträtt */
    .update-form {
        max-width: auto;
        
    }

    /* upd / del / spara / avbryt - knappar */
    .update-btn,
    .delete-btn,
    .update-form button {
        padding: 7px 10px;
        font-size: 0.8rem;
    }

    /* meddelande som visas i vänstra hörnet i adminläge */
    #welcome-message {
        font-size: 0.9em;
    }

    /* FOOTER */
    footer {
        padding: 15px 30px; 

        .footer-column {
            margin: 0 10px;
            max-width: 130px;
            
            h4 {
                font-size: 1.2em;
            }

            p, li {
                font-size: 1em;
            }
        }

        .footer-logo {
            margin: 0 10px;
            img {
                width: 130px;
            }
        }
    }

    /* Boka bord, recension och kontakt-formulär */
    #booking-form,
    #review-form,
    #contact-form {
        max-width: 500px;

        input {
            font-size: 0.9em;
        }

        button {
            font-size: 1em;
            padding: 10px 15px;
        }

    }

    /* Utskrift av recensioner, bokningar och meddelanden */
    .review-block, .booking-block, .message-item {
        max-width: 600px;
    }

    .send-response-btn {
        font-size: 1em;
        padding: 10px 15px;
    }

}

/* Media queries för Mobile */

@media (max-width: 599px) {

    /* Footer */
    /* Ändrar så att innehållet staplas verikalt istället */
    footer {
        flex-direction: column;
        padding: 20px;

        .footer-column {
            margin: 20px 0; 
            max-width: 100%; 
            text-align: center;
        }

        .footer-logo {
            margin: 20px auto;
            img {
                width: 110px;
            }
        }
    }

    /* STARTSIDAN */

    main {
        width: 90%;
    }

    /* Bilderna på startsidan */
    .indexPicture {
        width: 90%; 
        max-width: 500px; 
    }

    /* Rubriker */
    h1 {
        font-size: 4.2em;
    }
    
    h2 {
        font-size: 1.6em;
    }
    
    h3 {
        text-align: center;
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }

    /* Knapparna på startsidan */
    #navigateToMenu,
    #navigateToBooking {
        width: 260px;
        padding: 11px 13px;
   }

    /* MENY-SIDAN */

    /* Bilderna vid varje kategori i menyn */
    .category-image {
        width: 280px;
        margin: 10px auto;
    }

    /* Utskrift av menyn */
    #menu-container, .menu-list {
        padding: 20px;
    }

    /* Login, register och add dish formulär */
    #login-form,
    #register-form,
    #add-dish-form {
       max-width: 350px;
       padding: 20px;

       button {
        font-size: 0.9em;
       }
    }

    /* Formulär för uppdatera maträtt */
    .update-form {
        max-width: 280px;
        
    }

    /* upd / del / spara / avbryt - knappar */
    .update-btn,
    .delete-btn,
    .update-form button {
        padding: 8px 9px;
        font-size: 0.8rem;
    }

    /* meddelande som visas i vänstra hörnet i adminläge */
    #welcome-message {
        font-size: 0.8em;
    }

    /* Boka bord, recension och kontakt-formulär */
    #booking-form,
    #review-form,
    #contact-form {
        max-width: 350px;

        input {
            font-size: 0.9em;
        }

        button {
            font-size: 0.9em;
            padding: 8px 12px;
        }

    }

    /* Utskrift av recensioner, bokningar och meddelanden */
    .review-block, .booking-block, .message-item {
        max-width: 350px;
    }

    .send-response-btn {
        font-size: 0.9em;
        padding: 8px 12px;
    }

    /* textrutan för att svara på meddelanden */
    textarea.response-textarea {
        height: 75px;
    }

}



/* Media queries för "hamburgermenyn" för större skärmar */
@media only screen and (min-width: 990px) {
    header {
        padding: 0 1.3em;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        box-shadow: 0 0px 0px;
        height: 80px;
        font-size: 1.3em;
        width: auto;
    }

    nav ul {
        height: 100%;
        padding: 30px;
    }

    nav li {
        display: inline;
        padding: 1.2em 20;
        
    }


    
}